@import '_theme.scss';

.agreement_popup_back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2;
}

.agreement_popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // top: 15%;
    width: 90%;
    height: max-content;
    max-height: 75%;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    max-width: 760px;
    
    &__title {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        padding: 8px 0;
    }

    &__text {
        width: 100%;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 24px;
        line-height: 38px;
        overflow-y: scroll;
        word-wrap: break-word;
        cursor: default;
        
        b {
            display: block;
        }

    }

    &__agree_btn {
        width: 100%;
        height: 40px;
        border: none;
        flex-shrink: 0;
        border-radius: 2px;
        cursor: pointer;
        transition: .3s;
        background-color: $theme-blue-6;
        color: white;
        font-size: 16px;

        &:hover {
          background-color: $theme-blue-5;
        }

        &:focus {
          background-color: 1px solid $theme-blue-7;
        }
        
        @media (min-width: 600px) {
            margin: 42px;
            width: 45%;
        }
    }

    &__close_btn {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-image: url("../public/close-blue.svg");
        border: none;
        cursor: pointer;
        transition: transform .3s;

        &:focus {
            outline: none;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

}