@import '_theme.scss';

.checkbox {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color .3s;
    
    &:not(:checked) {
        border: 1px solid #D9D9D9;
        background: white;
    }

    &.checked {
        background-color: $theme-blue-5;
        background-image: url("../public/check.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
}