@import "_theme.scss";

.form_popup_back {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.form_popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
    width: 90%;
    max-width: 550px;
    height: max-content;
    background: #ffffff;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;

    &__username {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        padding: 16px 0 8px;
    }

    &__text {
        font-size: 20px;
        padding-bottom: 24px;
        line-height: 38px;
    }

    &__close_btn {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        background:  $theme-blue-6;
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: $theme-blue-5;
        }

        &:focus {
            background-color: 1px solid $theme-blue-7;
        }

        @media (min-width: 600px) {
            margin: 16px;
            width: 70%;
        }
    }
}
