.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  @media (min-width: 600px) {
    min-width: 600px;
    width: 75%;
  }
}