.block_file {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px dashed #d9d9d9;
    border-radius: 2px;
    height: 40px;
    background-color: #f5f5f5;
    cursor: pointer;

    @media (min-width: 600px) {
        margin-bottom: 0;
    }

    &__image {
        position: absolute;
        left: 15%;
        height: 23px;
        width: 23px;
        background-image: url("../public/plus.svg");
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 600px) {
            left: 10px;
        }
    }

    span {
        color: #595959;
    }

    input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        pointer-events: all;
        z-index: -1;
    }

    &:hover {
        background-color: #e6f7ff;
    }
}
.block_uploaded {
    position: relative;
    display: flex;
    width: 100%;
    height: 22px;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    cursor: default;
    margin-bottom: 20px;

    @media (min-width: 600px) {
        width: 43%;
        margin-top: 0;
    }

    &__image {
        position: relative;
        width: 16px;
        height: 16px;
        margin: 4px;
        background-image: url("../public/paper-clip.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__name {
        position: relative;
        padding-left: 4px;
        color: #1890ff;
        flex-grow: 1;
    }

    &__close {
        position: relative;
        width: 16px;
        height: 16px;
        margin: 4px;
        background-image: url("../public/close.svg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    &:hover {
        background-color: #e6f7ff;
    }
}
