@import '_theme.scss';

.radio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: background-color .3s, border-color .3s;
    overflow: hidden;
    
    &:not(:checked) {
        border: 1px solid #D9D9D9;
        background: white;

        &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background-color: #FFFFFF;
            transition: .3s;
        }
    }

    &.checked {
        border-color: $theme-blue-5;
        
        &::after {
            background-color: $theme-blue-5;
        }
    }
}