@import '_theme.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5% 4%;
  min-width: 240px;

  @media (min-width: 600px) {
    position: relative;
    min-width: 600px;
    width: 45%;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0;
    font-weight: 500;
  }
  

  .cvform {

    h3 {
      font-size: 22px;
      font-weight: 600;

      .input__error_message {
        padding-left: 8px;
      }
    }

    &__block {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      
      @media (min-width: 600px) {
        width: 50%;
      }
    }

    .input_title {
      position: relative;
      display: flex;
      align-items: flex-end;
      white-space: nowrap;
    }

    .input__error_message {
      position: relative;
      display: inline;
      color: $theme-red-6;
      font-size: 14px;
      min-height: 22px;
      font-weight: 400;
      white-space: nowrap;
    }

    label {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 2px;
    }

    input {
      margin-top: 2px;
      padding: 8px 12px;
      font-size: 16px;
      line-height: 20px;
      box-sizing: border-box;
      border: 1px solid #D9D9D9;
      border-radius: 2px;
      transition: .2s;

      &.input_error {
        border-color: $theme-red-6;
        color: $theme-red-6;
      }

      &:hover {
        border: 1px solid $theme-blue-5;
      }

      &:focus {
        outline: none;
        border: 1px solid $theme-blue-5;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(24, 144, 255, 0.5);
        -moz-box-shadow: 0px 0px 4px 0px rgba(24, 144, 255, 0.5);
        box-shadow: 0px 0px 4px 0px rgba(24, 144, 255, 0.5);
      }

      &:disabled {
        background: #F5F5F5;
      }

      &::-webkit-input-placeholder {
        color: #BFBFBF;
      }

      &[type=submit] {
        cursor: pointer;
        width: 100%;
        background-color: $theme-blue-6;
        color: white;
        font-size: 16px;

        &:hover {
          background-color: $theme-blue-5;
        }

        &:focus {
          background-color: 1px solid $theme-blue-7;
        }
        
        @media (min-width: 600px) {
          width: 70%;
        }
      }
    }
  }
}

//Special blocks rules
.cvform__block.block {
  &__personal {

    @media (min-width: 600px) {
      width: 100%;
      justify-content: space-between;
      align-items: center;

      label {
        width: 43%;
      }
    }

    .block_file {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border: 1px solid #D9D9D9;
      border-radius: 2px;
      height: 40px;
      background-color: #F5F5F5;
      cursor: pointer;

      &__image {
        position: absolute;
        left: 15%;
        height: 23px;
        width: 23px;
        background-image: url("../public/plus.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      span {
        color: #595959;
      }
      
      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        pointer-events: all;
        z-index: -1;
      }

      &:hover {
        background-color: #E6F7FF; 
      }
    }
  }

  &__gender {
    flex-direction: row;

    label {
      width: 38%;
      align-items: center;
      flex-direction: row;

      @media (min-width: 600px) {
        width: 45%;
      }
    }

    span {
      padding-left: 8px;
    }

    input {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      color: $theme-blue-5;
      position: absolute;
      opacity: 0;
    }
  }
  &__agreement {
    padding: 8px 0 40px 0;
    flex-direction: column;
    
    @media (min-width: 600px) {
      width: 100%;
    }

    .input_title__error {
      position: absolute;
      width: 100%;
      padding: 0;
    }

    .input_wrapper {
      position: relative;
      display: flex;
      align-items: center;
  
      label {
        flex-direction: row;
        align-items: center;
      }

      &__text {
        padding-left: 8px;
      }
  
      a {
        text-decoration: underline;
        color: $theme-blue-5;
      }

      input {
        position: absolute;
        opacity: 0;
      }
    }
  }
}
